* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
}
html {
  background-color: snow;
}

div {
  margin-bottom: 10px;
}

textarea {
  width: 490px;
  height: 170px;
}

.button {
  display: flex;
}

/*너비 줄어들면 어느순간 고정*/
@media screen and (min-width: 500px) {
  html {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  html {
    width: 500px;
  }
}
