<html>

<head>
    <link href="index.css" rel="stylesheet" type="text/css" />
    
    <title>TEAM NO.14의 게임 쇼핑몰</title>
    <meta name="description" content="TEAM NO.14의 게임 쇼핑몰" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a5f3739fb3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    
    <header>
        <ul class="top">
            <li><a href="Log_in.html">로그인</a></li>
            <li><a href="sign_up.html">회원가입</a></li>
            <li><a href="log-in">마이페이지</a></li>
            <li><a href="log-in">장바구니</a></li>
        </ul>
    
        <div class="logo_search">
            <div class="logo">
                <a href="index.html"><i class="fas fa-dice-d6 fa-2x"></i></a>
            </div>
            
            <form action="#" accept-charset="utf-8" id="search" name="search" method="post">
                <input type="text" name="need_search">
                
                <button type="submit" form="search"><i class="fas fa-search fa-2x"></i></button>
            </form>
    
        </div>
    
        <div class="category">
            <ul>
                <a href="products.html"><li>예약상품</li></a>
                <a href="products.html"><li>PlayStation5</li></a>
                <a href="products.html"><li>PlayStation4</li></a>
                <a href="products.html"><li>PlayStationVR</li></a>
                <a href="products.html"><li>PlayStation3</li></a>
                <a href="products.html"><li>닌텐도Switch</li></a>
                <a href="products.html"><li>닌텐도3DS</li></a>
                <a href="products.html"><li>할인상품</li></a>
                <a href="products.html"><li>기타상품</li></a>
            </ul>
        </div>
    </header>

    <div id="wrapper">
        <div id="slider-wrap">
            <ul id="slider">
                <li>
                    <div>
                        <h3>Slide #1</h3>
                        <span>Sub-title #1</span>
                    </div>                
                    <img src="image\event\images.jpg" onclick="javascript:location.href='address.html'">
                </li>
               
                <li>
                    <div>
                        <h3>Slide #2</h3>
                        <span>Sub-title #2</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/D27328/000?text=22222" onclick="javascript:location.href='address.html'">
                </li>
               
                <li>
                    <div>
                        <h3>Slide #3</h3>
                        <span>Sub-title #3</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/FF607F/000?text=33333" onclick="javascript:location.href='address.html'">
                </li>
               
                <li>
                    <div>
                        <h3>Slide #4</h3>
                        <span>Sub-title #4</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/0A6E0A/000?text=44444" onclick="javascript:location.href='address.html'">
                </li>
               
                <li>
                    <div>
                        <h3>Slide #5</h3>
                        <span>Sub-title #5</span>
                    </div>
                    <img src="https://fakeimg.pl/350x200/0064CD/000?text=55555" onclick="javascript:location.href='address.html'">
                </li>
               
               
            </ul>
            
            <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
            <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
            
            <!--counter는 오른쪽 위에 1/5요거-->
            <div id="counter"></div>
            <!--pagination-wrap은 하얀색 점들.-->
            <div id="pagination-wrap">
              <ul>
              </ul>
            </div>
                   
        </div>
    
     </div>

     <!--위에까지가 배너 슬라이드-->

    <div class="display2">
        <p id="newProd">최신 등록 상품</p>
        <div class="items">
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\bioHazard.jpg"></div> <div class="text_div">바이오 하자드</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\bravoTeam.jpg"></div> <div class="text_div">브라보 팀</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\familyTrainer.jpg"></div> <div class="text_div">Family Trainer</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\justDance.jpg"></div> <div class="text_div">Just Dance</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\lastOfUs2.jpg"></div> <div class="text_div">Last Of Us 2</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\likeDragon7.jpg"></div> <div class="text_div">용과 같이 7</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\lastOfUs2.jpg"></div> <div class="text_div">Last Of Us 2</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\likeDragon7.jpg"></div> <div class="text_div">용과 같이 7</div></div></a>
        </div>
    </div>
    <div class="display2">
        <p id="popular">인기 상품</p>
        <div class="items">
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\bioHazard.jpg"></div> <div class="text_div">바이오 하자드</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\bravoTeam.jpg"></div> <div class="text_div">브라보 팀</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\familyTrainer.jpg"></div> <div class="text_div">Family Trainer</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\justDance.jpg"></div> <div class="text_div">Just Dance</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\lastOfUs2.jpg"></div> <div class="text_div">Last Of Us 2</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\likeDragon7.jpg"></div> <div class="text_div">용과 같이 7</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\lastOfUs2.jpg"></div> <div class="text_div">Last Of Us 2</div></div></a>
            <a href="sebu.html"><div><div class="item_div"><img src="C:\Users\USER\Web_Front\SE_project_1\image\game\likeDragon7.jpg"></div> <div class="text_div">용과 같이 7</div></div></a>
        </div>
    </div>




    <footer class="others">
        <ul>
            <li>1111</li>
            <li>2222</li>
            <li>3333</li>
            <li>4444</li>
        </ul>

        <ul>
            <li>111</li>
            <li>222</li>
            <li>333</li>
            <li>444</li>
        </ul>

        <ul>
            <li>11</li>
            <li>22</li>
            <li>33</li>
            <li>44</li>
        </ul>

        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>

    </footer>
    <script async src="index.js"></script>
</body>


</html>