* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  outline: none;
}
html {
  background-color: snow;
}

img {
  width: 150px;
  height: 140px;
  object-fit: scale-down;
}
/*�뿤�뜑 �떆�옉*/
header {
  display: flex;
  flex-direction: column;
}
/*濡쒓렇�씤 �뱾�뼱�엳�뒗 div*/
.top {
  display: flex;
  background-color: coral;
  justify-content: flex-end;
  font-size: 13px;
}
.top a {
  color: white;
}
.top li {
  padding: 0px 20px;
}
/*濡쒓퀬�옉 寃��깋諛� �엳�뒗 div*/
.logo_search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/*濡쒓퀬 �떆�옉*/
.logo {
  display: flex;
}
.logo_search .logo i {
  color: dimgray;
  position: relative;
  bottom: 5px;
}
/*寃��깋諛� �떆�옉*/
#search {
  width: 400px;
  height: 30px;
  display: flex;
}
#search i {
  position: relative;
  left: -25px;
  color: coral;
}
#search input {
  border: none;
  border-bottom: 5px solid coral;
  width: 100%;
  height: 100%;
  font-size: 20px;
  outline: none;
  display: flex;
}
#search button {
  position: relative;
  right: 25px;
  bottom: 3px;
  background: transparent;
  border: 0px;
  outline: none;
  padding: 0;
  overflow: visible;
  text-decoration-style: none;
}
#search button i {
  position: relative;
  left: 0px;
  bottom: 3px;
}
#search button:hover {
  cursor: pointer;
}
/*移댄뀒怨좊━ div*/
.category {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.category ul {
  display: flex;
  border: 1px solid dimgray;
  padding: 10px;
}
.category ul li {
  width: 107px;
  height: 20px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  color: dimgray;
}

/*body*/
.prod {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.prod #product {
  display: flex;
  justify-content: center;
  width: 980px;
  flex-wrap: wrap;
  border-top: 1px solid black;
}

/* �옣諛붽뎄�땲 head css */
.prod #head_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}

.prod #head_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 625px;
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}

.prod #head_amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}
.prod #head_delivery{
	display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}
.prod #head_price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}

.prod #head_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}

/* �옣諛붽뎄�땲 �긽�뭹 異붽� 履� css */

.prod #image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
}

.prod #name {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  width: 620px;
  margin-top: 5px;
  padding-right: 5px;
  border-bottom: 1px solid gray;
}

.prod #amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
}

.prod .num {
  width: 130px;
  height: 40px;
}

.prod .num_button {
  width: 30px;
  height: 20px;
}

.prod #price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
}
.prod .delivery {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
}
.prod .price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
}

.prod #delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-top: 5px;
  border-bottom: 1px solid gray;
}

/*珥� 湲덉븸*/
.prod .sum {
  display: flex;
  justify-content: right;
  align-content: space-between;
  width: 890px;
  height: 28px;
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.prod .result {
  display: flex;
  justify-content: right;
  align-content: space-between;
  width: 90px;
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.prod .result #result {
  margin-left: auto;
}

.prod .buy {
  margin-top: 5px;
  margin-left: auto;
}

/*footer*/
.others {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  height: 200px;
  border-top: 1px solid black;
}

/*�꼫鍮� 以꾩뼱�뱾硫� �뼱�뒓�닚媛� 怨좎젙*/
@media screen and (max-width: 1100px) {
  html {
    width: 1100px;
  }
}
