<html>

<head>
    <link href="sign_up.css" rel="stylesheet" type="text/css" />
    
    <title>TEAM NO.14의 게임 쇼핑몰</title>
    <meta name="description" content="TEAM NO.14의 게임 쇼핑몰" />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a5f3739fb3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
</head>

<body>
    
    <header>
        <ul class="top">
            <li><a href="Log_in.html">로그인</a></li>
            <li><a href="sign_up.html">회원가입</a></li>
            <li><a href="log-in">마이페이지</a></li>
            <li><a href="log-in">장바구니</a></li>
        </ul>
    
        <div class="logo_search">
            <div class="logo">
                <a href="index.html"><i class="fas fa-dice-d6 fa-2x"></i></a>
            </div>
            
            <form action="#" accept-charset="utf-8" id="search" name="search" method="post">
                <input type="text" name="need_search">
                
                <button type="submit" form="search"><i class="fas fa-search fa-2x"></i></button>
            </form>
    
        </div>
    
        <div class="category">
            <ul>
                <a href="1"><li>예약상품</li></a>
                <a href="2"><li>PlayStation5</li></a>
                <a href="3"><li>PlayStation4</li></a>
                <a href="4"><li>PlayStationVR</li></a>
                <a href="5"><li>PlayStation3</li></a>
                <a href="6"><li>닌텐도Switch</li></a>
                <a href="7"><li>닌텐도3DS</li></a>
                <a href="8"><li>할인상품</li></a>
                <a href="9"><li>기타상품</li></a>
            </ul>
        </div>
    </header>
    
        <form autocomplete="off" action="#" accept-charset="utf-8" class="sign_up" name="sign_up" method="post">
            @csrf
            <div>
                닉네임<br><input type="text" id="name" name="name" placeholder="닉네임" onfocus="this.placeholder=''" onblur="this.placeholder='닉네임'">
            </div>
            <div>
                아이디<br><input type="email" id="email" name="email" placeholder="아이디" onfocus="this.placeholder=''" onblur="this.placeholder='아이디'">
            </div>
            <div>
                비밀번호<br><input type="password" id="pw" name="pw" placeholder="비밀번호" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호'">
            </div>
            <div>
                비밀번호 확인<br><input type="password" id="confirm_pw" name="confirm_pw" placeholder="비밀번호 확인" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호 확인'">
            </div>
            
           
            <div id="address">
                    우편번호<br> 
                    <div id="search_ad">
                       <input type="text" name="postcodify_postcode5" class="postcodify_postcode5" placeholder="우편번호" onfocus="this.placeholder=''" onblur="this.placeholder='우편번호'"/>
                        <button type="button" id="postcodify_search_button">검색</button>
                    </div>
                    <div id="search_ad2">
                    주소<br>
                    <input type="text" name="postcodify_address" class="postcodify_address" placeholder="주소" onfocus="this.placeholder=''" onblur="this.placeholder='주소'"/>
                    <input type="text" name="postcodify_details" class="postcodify_details" placeholder="상세주소" onfocus="this.placeholder=''" onblur="this.placeholder='상세주소'"/>
                    <input type="text" name="postcodify_extra_info" class="postcodify_extra_info" placeholder="추가정보" onfocus="this.placeholder=''" onblur="this.placeholder='추가정보'"/>
                    </div>
                    <script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>
            </div>
            <div>
                전화번호<br>
                <input type="text" name="phone" class="phone" maxlength="13" placeholder="전화번호" onfocus="this.placeholder=''" onblur="this.placeholder='전화번호'">
            </div>
            <div>
                생년월일<br>
                <input type="date" id="birth" name="birth" placeholder="생년월일" onfocus="this.placeholder=''" onblur="this.placeholder='생년월일'">
            </div>
            
            
            
            <button type="submit" id="sign_btn" value="submit">회원가입</button>
            
            
        </br>
    </form>
    
    
    
        <footer class="others">
            <ul>
                <li>1111</li>
                <li>2222</li>
                <li>3333</li>
                <li>4444</li>
            </ul>
    
            <ul>
                <li>111</li>
                <li>222</li>
                <li>333</li>
                <li>444</li>
            </ul>
    
            <ul>
                <li>11</li>
                <li>22</li>
                <li>33</li>
                <li>44</li>
            </ul>
    
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
    
        </footer>
        <script async src="sign_up.js"></script>
    </body>
    
    
    </html>